find_compactbiomes
find_quadhuts
.cproject
.project
docs/LayerSummary.aux
docs/LayerSummary.log
docs/LayerSummary.synctex.gz
docs/LayerSummary.toc
*.o
*.a
a.out
*.cmake
*.so
Makefile
*.check_cache
*.marks
*.log
TargetDirectories.txt
*.bin
*.make
*.internal
link.txt
CMakeCCompilerId.c
CmakeCXXCompilerId.cpp
*.includecache
CMakeCache.txt
Makefile2
*.py

build

.idea
