find_compactbiomes
find_quadhuts
.cproject
.project
docs/LayerSummary.aux
docs/LayerSummary.log
docs/LayerSummary.synctex.gz
docs/LayerSummary.toc
*.o
*.a
a.out

build

.idea

*.dll

# From toptal.com/developers/gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json